LOCKEDIN_E2E_BASE_URL=http://127.0.0.1:8080
LOCKEDIN_E2E_EMAIL=
LOCKEDIN_E2E_PASSWORD=
LOCKEDIN_E2E_CV_PATH=
LOCKEDIN_E2E_JSEARCH_QUERY=graduate internship opportunities united kingdom
LOCKEDIN_E2E_REQUIRE_GROQ=true
